<input type="text" 
class="form-control form-control-sm" 
placeholder="Busca registros por título o por contenido" #input>
<button class="btn btn-sm btn-primary mt-1" (click)="search( input.value )">Buscar</button>
<hr>

<div class="row">
    <div class="col-sm-4" *ngFor="let data of (res | async)">
        <div class="shadow shadow-sm p-3 mt-4">
            <h6 class="text-center text-primary pointer" (click)="showDetail( data.id )">
                {{ data.title | titlecase }}
            </h6>
            <p class="text-justify">{{ data.body }}</p>
        </div>
    </div>
</div>
